:root {
    --adyen-dark-color: #00112c;
    --adyen-green-color: #0abf53;
    --yellow-color: #f1c40f;
    --red-color: #e74c3c;
    --semi-white-color: #f0f0f0;
    --gray-color: #7e8a8f;
    --gray-dark-color: #525257;
    --gray-accent-color: #48525a;
    --gray-highlight-color: #cccccc;
    --terminal-top-device-color: #dedede;
    --terminal-bottom-device-color: #ededed;
    --terminal-border-radius: 12px;
}

body {
    font-family: "Fakt", sans-serif;
}

.main {
    color: var(--semi-white-color);
    background: var(--adyen-dark-color);
    min-height: 100vh;
}

/* Sections start */
.trigger-request-section {
    display: flex;
    width: 860px;
    padding: 0 32px;
}

.codeblock-section {
    display: inline-grid;
    width: 860px;
    padding: 0 32px;
}

.terminal-section {
    display: inline-grid;
    margin: 0 96px;
    width: 360px;
    padding-bottom: 16px;
}

/* Sections end */


/* Trigger request start */
.trigger-request-section-title {
    font-size: larger;
    font-weight: bold;
    padding: 12px;
}

.trigger-request-dropdown {
    border-radius: 16px;
    padding: 8px 0;
}

.request-dropdown {
    padding: 8px;
    border: 1px solid var(--semi-white-color);
    border-radius: 8px;
}

.request-dropdown:focus {
    outline: none;
}

label {
    margin-right: 8px;
    font-weight: bold;
}

/* Trigger request end */


/* Terminal start */
.terminal {
    display: inline-grid;
    flex-direction: column;
    border-radius: var(--terminal-border-radius);
}

.terminal-top {
    border-radius: var(--terminal-border-radius) var(--terminal-border-radius) 0 0;
    background: var(--terminal-top-device-color);
    padding: 24px 16px;
}

.terminal-bottom {
    border-radius: 0 0 var(--terminal-border-radius) var(--terminal-border-radius);
    background: var(--terminal-bottom-device-color);
    padding: 24px;
}

.screen {
    display: grid;
    font-weight: bold;
    background-color: var(--semi-white-color);
    color: var(--adyen-dark-color);
    border-radius: 8px;
    padding: 8px;
    height: 280px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    user-select: none;
}

.screen span {
    text-align: center;
}

.digits {
    font-size: 16px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 8px;
    user-select: none;
}

.digit-button,
.action-button {
    padding: 16px;
    border: none;
    border-radius: 8px;
    background-color: var(--adyen-dark-color);
    color: var(--semi-white-color);
    cursor: pointer;
    font-weight: bolder;
    filter: brightness(0.9);
    box-shadow: 0 0 12px rgba(255, 255, 255, 0.3);
    outline: none;
    transition: transform 0.1s ease-out, filter 0.15s ease-in-out;
}

.action-button.yellow {
    background-color: var(--yellow-color);
}

.action-button.red {
    background-color: var(--red-color);
}

.action-button.green {
    background-color: var(--adyen-green-color);
}

.digit-button:hover,
.action-button:hover {
    filter: brightness(1.11);
    transform: scale(1.03);
}

.digit-button:focus,
.action-button:focus {
    outline: none;
}

.digit-button:active,
.action-button:active {
    transform: translateY(2px);
}

/* Terminal end */


/* Screen pin start */
.screen-pin {
    justify-content: center;
    text-align: center;
    padding: 10px;
    font-size: 24px;
    font-weight: bolder;
    letter-spacing: 12px;
    height: 48px;
    border: 1px solid var(--gray-highlight-color);
    border-radius: 8px;
    margin-left: 48px;
    margin-right: 48px;
}

.screen-pin.hidden {
    border: 0 solid var(--gray-highlight-color);
}

/* Screen pin end */


/* Button start */
.button {
    margin-left: 8px;
    padding: 4px;
    width: 96px;
    outline: none;
    cursor: pointer;
    color: var(--semi-white-color);
    border: 1px solid var(--gray-accent-color);
    border-radius: 8px;
    transition: transform 0.1s ease-out, filter 0.15s ease-in-out;
}

.button.green {
    background-color: var(--adyen-green-color);
}

.button.yellow {
    background-color: var(--yellow-color);
}

.button:hover {
    transform: scale(1.05);
}

.button:focus {
    outline: none;
}

.button:active {
    transform: translateY(2px);
}

/* Button end */


/* Codeblock highlight start */
code {
    border-radius: 8px;
}

.request {
    margin: 0;
    position: relative;
    font-weight: bold;
    max-width: 800px;
    white-space: nowrap;
    word-wrap: break-word;
}

.response {
    margin: 0;
    position: relative;
    font-weight: bold;
    max-width: 800px;
    white-space: nowrap;
    word-wrap: break-word;
}

.maximize-height {
    height: 26vh;
}

/* Codeblock highlight end */


/* Copy button start */
.copy-button {
    position: absolute;
    bottom: 74px;
    right: 32px;
    margin: 0 0 0 8px;
    padding: 4px;
    width: 96px;
    height: 48px;
    cursor: pointer;
    color: var(--semi-white-color);
    background-color: var(--gray-dark-color);
    border-radius: 8px;
    border: none;
    outline: none;
    transition: transform 0.1s ease-out, filter 0.15s ease-in-out;
}

.copy-button:hover {
    transform: scale(1.03);
}

.copy-button:focus {
    outline: none;
}

.copy-button:active {
    transform: translateY(2px);
}

/* Copy button end */


/* Indicator highlight start */

.indicator-highlight-start {
    filter: brightness(1.11);
    transform: scale(1.03);
    transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
}

.indicator-highlight-end {
    filter: brightness(1);
    transform: scale(1);
    transition: transform 0.4s ease-in-out, filter 0.4s ease-in-out;
}


/* Indicator highlight end */