:root {
    --adyen-dark-color: #00112c;
    --adyen-green-color: #0abf53;
    --yellow-color: #f1c40f;
    --red-color: #e74c3c;
    --white-color: #f0f0f0;
    --gray-color: #7e8a8f;
    --gray-accent-color: #48525a;
    --gray-highlight-color: #cccccc;
    --terminal-border-radius: 12px;
}

body {
    /*overflow: hidden;*/
    font-family: "Fakt", sans-serif;
}

.main {
    color: var(--white-color);
    background: linear-gradient(90deg, var(--adyen-dark-color), #333333, var(--adyen-green-color));
}

/* Terminal start */

.terminal {
    display: flex;
    flex-direction: column;
    border-radius: var(--terminal-border-radius);
    transform: perspective(1920px) rotateX(10deg); /* Apply the perspective effect */
    padding: 24px;
}

.screen {
    display: grid;
    font-size: 20px;
    background-color: var(--white-color);
    color: var(--adyen-dark-color);
    border-radius: 4px;
    padding: 16px;
    height: 360px;
    border: 1px solid var(--gray-highlight-color);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    user-select: none;
}

.screen span {
    text-align: center;
}

.terminal-top {
    border-radius: var(--terminal-border-radius) var(--terminal-border-radius) 0 0;
    background: var(--gray-highlight-color);
    padding: 24px 16px;
    transform: translateY(3px) perspective(1080px) rotateX(-10deg) scale(1.036); /* Apply the perspective effect */
}

.terminal-bottom {
    border-radius: 0 0 var(--terminal-border-radius) var(--terminal-border-radius);
    background: var(--gray-highlight-color);
    padding: 28px;
}

.digits {
    font-size: 24px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 8px;
    user-select: none;
}

.digit-button,
.action-button {
    padding: 16px 24px;
    border: none;
    border-radius: 5px;
    background-color: var(--adyen-dark-color);
    color: white;
    cursor: pointer;
    font-weight: bold;
    transform: scale(1);
    filter: brightness(0.9);
    box-shadow: 0 0 12px rgba(255, 255, 255, 0.3);
    outline: none;
}

.action-button.yellow {
    color: white;
    background-color: var(--yellow-color);
}

.action-button.red {
    color: white;
    background-color: var(--red-color);
}

.action-button.green {
    color: white;
    background-color: var(--adyen-green-color);
}

.digit-button:focus,
.action-button:focus,
.digit-button:hover,
.action-button:hover {
    filter: brightness(1.1);
    transition: transform 0.1s ease-out, filter 0.15s ease-in-out;
    transform: scale(1.03);
    outline: none;
}

.digit-button:active,
.action-button:active {
    transform: translateY(2px);
}

.digit-button:checked {
    border-style: none;
}

/* Terminal end */


/* Test card start */
.credit-card {
    font-size: 12px;
    color: var(--adyen-dark-color);
    width: 240px;
    padding: 20px;
    margin: 20px;
    border: 2px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.24s ease-in;
}

.credit-card:hover {
    transform: scale(1.02);
    transition: transform 0.1s ease-out;
}

.card-number {
    font-size: 15px;
    font-weight: bolder;
    margin-bottom: 15px;
}

.card-info {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}

.card-description {
    display: flex;
    justify-content: space-between;
    padding: 0 0 8px 0;
}

.card-holder, .card-cvc, .card-expiry {
    color: var(--adyen-dark-color);
}
/* Test card end*/


/* Code highlight start */

code {    
    display: block;
    background: #2b303b;
    border-radius: 8px;
    overflow: scroll;
}

.request {
    padding-top: 8px;
    font-weight: bold;
}

.response {
    font-weight: bold;
}

.maximize-height {
    height: 320px;
}

/* Code highlight end */

/* Screen pin start */

#screen-pin {
    text-align: center;
    border-radius: 8px;
    font-size: 48px;
    font-weight: bolder;
    letter-spacing: 24px;
    height: 64px;
    border: 2px solid #ccc;
}

/* Screen pin end */
