<div class="terminal">
    <div class="terminal-top">
        <div class="screen">Enter your pin . . .</div>
    </div>
    <div class="terminal-bottom">
        <div class="digits">
            <button id="1-button" class="digit-button">1</button>
            <button id="2-button" class="digit-button">2</button>
            <button id="3-button" class="digit-button">3</button>
            <button id="cancel-button" class="action-button red">X</button>
            
            <button id="4-button" class="digit-button">4</button>
            <button id="5-button" class="digit-button">5</button>
            <button id="6-button" class="digit-button">6</button>
            <button id="clear-button" class="action-button yellow">&lt;</button>
            
            <button id="7-button" class="digit-button">7</button>
            <button id="8-button" class="digit-button">8</button>
            <button id="9-button" class="digit-button">9</button>
            <button id="confirm-button" class="action-button green">✓</button>
            
            <button id="star-button" class="digit-button">*</button>
            <button id="0-button" class="digit-button">0</button>
            <button id="hashtag-button" class="digit-button">#</button>
        </div>
    </div>
</div>
