name: Build, Test & Push to Github Packages

on:
  workflow_dispatch:
  push:
    branches: [ main ]
    paths-ignore:
      - README.md
      - '.github/dependabot.yml'
      - .dockerignore
      - .gitignore
      - .gitpod.yml
      - LICENSE
  pull_request:
    branches: [ main ]
    paths-ignore:
      - README.md
      - '.github/dependabot.yml'
      - .dockerignore
      - .gitignore
      - .gitpod.yml
      - LICENSE

jobs:
  test:
    timeout-minutes: 20
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v3
    
    - name: Setup Node.js
      uses: actions/setup-node@v3
      with:
        node-version: 18

    - name: Install dependencies
      run: npm ci

    - name: Run Mock Terminal-API Application
      run: npm start

    - name: Install Playwright Browsers
      run: npx playwright install --with-deps

    - name: Run Playwright tests
      run: npx playwright test
    
#    - name: Upload playwright report
#      uses: actions/upload-artifact@v3
#      if: always()
#      with:
#        name: playwright-report
#        path: playwright-report/
#        retention-days: 1